@import "variables";

/* Estilos para las secciones compartidas */
.section {
  margin-bottom: 30px;
}

.section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.section li {
  margin-bottom: 10px;
}

/* Estilos para la sección de biografía */
.bio {
  @extend .section;
}

.bio p {
  margin-bottom: 20px;
}

/* Estilos para la sección de hitos de estudio */
.hitos-estudio {
  @extend .section;
}

/* Estilos para la sección de congresos */
.congresos {
  @extend .section;
}
