@import "variables";

/* Estilos compartidos para formularios y secciones de información */
.section {
  margin-bottom: 20px;
}

/* Estilos para el formulario */

.contraste {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

.tarjeta {
  @extend .contraste;
  padding: 1rem;
}

.formulario {
  @extend .tarjeta;
  max-width: 600px;
  border-radius: 8px;
  margin: 30px auto 30px;
}

.form-group {
  @extend .section;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para la sección de información de contacto */
.informacion {
  padding: 20px;
  background-color: $blanco;
  @extend .section;
}

.informacion p, .informacion strong {
  color: $negro;
}

.informacion ul {
  list-style-type: none;
  padding: 0;
}

.informacion ul li {
  margin-bottom: 10px;
}

.informacion a {
  color: $primario;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
