@import "variables";

/* Estilos para la galería de fotos */

.media {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.gallery {
  @extend .media;
  img {
    scale: 0.9; opacity: .5;
    aspect-ratio: 4 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fade-in linear forwards;
    animation-timeline: view(); /* No funciona en Safari o Firefox */
    animation-range: entry 200px;
  }
}

figure {
  border: 1rem solid white;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
  max-width: 300px;
  margin: 0 auto 1rem;
  div {
    overflow: hidden;
    background-color: black;
    .polaroids {
      aspect-ratio: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

figure:hover {
  transform: scale(1.05) rotate(-2deg);
}

figcaption {
  display: grid;
  place-content: center end;
  height: 3.5rem;
  font-family: $cusrsiva;
  font-size: 1.5rem;
  line-height: 1;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

.videos {
  @extend .media;
}
