@import "variables";

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/assets/images/marmolblanco.webp");
  //background-image: url("/assets/images/marmolblanco.webp");
  background-size: cover;
  background-repeat: no-repeat;
  color: $negro;
}

main {
  padding: 0 5rem;
}

h1 {
  margin-top: 20px;
  text-align: center;
  color: $primario;
}

/* Sections */
section {
  padding: 20px;
}

section h2 {
  color: $oscuro;
}

.btn-filled-primario {
  @include boton($primario, white, transparent, darken($primario, 10%));
}

.btn-outline-primario {
  @include boton(transparentize(white, 0.6), darken($primario, 10%), darken($primario, 10%), darken($primario, 10%));
}
