@import "variables";

.contenedor-cards {
  display: grid;
  grid-template-areas:
    "mision vision"
    "valores valores";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 5vh;
  align-items: stretch;
  padding: 8%;
}

.mision {
  grid-area: mision;
}

.vision {
  grid-area: vision;
}

.valores {
  grid-area: valores;
}

.card {
 @extend .tarjeta;
  margin: 0 auto;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: transparent;
}

.card-header h3 {
  color: transparent;
  background: $oscuro;
  -webkit-background-clip: text;
  font-size: 2rem;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $oscuro;
  font-size: 1.2rem;
  gap: 20px;
}
