// Variables generales del sitio.

$blanco: #E4E4E4;
$negro: #333;
$primario: #A45237;
$primario-claro: lighten($primario, 20%);
$secundario: #9FA0A2;
$oscuro: #5D5347;
//$terciario:
$exito: #42572e;
$peligro: #6B2518;
$alerta: #dec487;